<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat App</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="head">
                <div class="heading">
                    <h1>Chat Application</h1>
                </div>
            </div>
            <div id="edit">
                <div id="delete">
                </div>
            </div>
            <div class="messagebody">
                <div class="users">
                    <div id="dropdown-user1">
                        <label for="cars">Sender:</label>
                        <select name="user1" id="user1">
                            <option value={{sender}}>{{sender}}</option>
                        </select>
                        <br />
                        <input id="textbox1" type="text" />
                        <button id="button1">Send</button>
                    </div>
                    {{#if allUsers}}
                    <div id="dropdown-user2">
                        <label for="cars">Recipient:</label>
                        <select name="user2" id="user2">
                            {{#each allUsers}}
                            <option value={{name}}>{{name}}</option>
                            {{/each}}
                        </select>
                        <br />
                        <input id="textbox2" type="text" />
                        <button id="button2">Send</button>
                    </div>
                    {{/if}}
                </div>
                <div id="ld">
                </div>
                <div id="messages">
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../js/index.js"></script>
</body>

</html>