<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../css/registration.css" />
</head>

<body>
  <div class="container">
    <div class="header">
      <h2>Login Form</h2>
    </div>
    <form action="" class="form" id="form">
      <div class="form-control">
        <label for="user">Email</label>
        <input type="email" name="" id="email" placeholder="Enter your email" autocomplete="off" />
        <small>Error Msg</small>
      </div>
      <div class="form-control">
        <label for="user">Password</label>
        <input type="password" name="" id="password" placeholder="Enter your Password" autocomplete="off" />
        <small>Error Msg</small>
      </div>
      <input type="submit" value="Submit" class="btn" />
    </form>
  </div>
  <script type="text/javascript" src="../js/login.js"></script>
</body>

</html>