@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 600px;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  width: 100%;
  padding: 0.8rem 0;
  background-color: #a82ffc;
  color: white;
  text-align: center;
  font-family: 'Acme', sans-serif;
}
.messagebody {
  margin-top: 1em;
  font-family: 'Sriracha', cursive;
}
.users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#dropdown-user1 {
  float: left;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
#dropdown-user2 {
  float: right;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
#button1,
#button2 {
  border: none;
  width: 50px;
  background-color: #d189ff;
  color: white;
  font-family: 'Sriracha', cursive;
  cursor: pointer;
  border-radius: 0.2em;
  box-shadow: 2px 3px 3px #e9ecef;
}
#textbox1,
#textbox2 {
  margin: 1em 0 0.5em 0;
  padding: 0.3em 0;
  border: 1px solid black;
  font-family: 'Padauk', sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}
#user1,
#user2 {
  font-size: 1em;
  font-family: 'Sriracha', cursive;
  cursor: pointer;
}
#messages {
  height: 500px;
  width: 500px;
  margin: 0px auto;
}
.msg1 {
  background-color: #7984ee;
}
.msg1,
.msg2 {
  height: 35px;
  width: 400px;
  font-size: 20px;
  border: 1px solid grey;
  margin: 20px;
  border-radius: 10px;
  padding: 3px;
}
.msg2 {
  margin-left: 60px;
  background-color: #46b3e6;
  color: white;
}

#edit {
  margin-left: auto;
  margin-right: 1em;
  height: 30px;
}
#ld {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.sender {
  float: right;
  font-size: 15px;
  padding: 2px;
  color: #cdd0cb;
}

#button1:disabled,
#button2:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.profile button {
  background: linear-gradient(to right, #d189ff, #f2fcfe);
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: 1s ease out;
  margin-top: 5px;
  font-weight: bold;
}
.profile button:hover {
  background: linear-gradient(to right, #f2fcfe, #d189ff);
}
