*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
}
h1{
    text-align: center;
}
.container{
    height: 100vh;
    width: 600px;
    margin: 0px auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #808080;
}
.users{
    flex-direction: row;
}
#dropdown-user1{
    float: left;
    margin: 20px;
}
#dropdown-user2{
    float: right;
    margin: 20px;
}
#textbox1,#textbox2{
    margin-top: 20px;
    font-size: 15px;
}
#messages{
    margin-top: 200px;
    height: 500px;
    width: 500px;
    margin: 0px auto;
    
}
.msg1{
    background-color:#BFBFBF;
}
.msg1,.msg2{
    height: 25px;
    width: 400px;
    font-size: 20px;
    border:1px solid grey;
    margin: 20px;
    border-radius: 10px;
    padding: 3px;
}
.msg2{
    margin-left: 60px;
    background-color:lightblue;
    color: white;
}
.sender{
   float:right; 
   font-size: 15px;
   padding: 2px;
   color: #666666;
}